@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.card {
  border-radius: 15px;
  border: 1px solid black;
  background-color: $dark-color;
  font-family: $body-font;
  overflow: hidden;
  &__img {
    background-color: $dark-color;
    & > img {
      max-width: 100%;
    }
  }
  &__detail {
    border-radius: 15px 15px 0 0;
    color: $light-color;
    padding: 0 2rem;
    .card__header {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      .card__name {
        font-size: 1.3rem;
        align-self: center;
        margin: 0.5rem 0;
        padding: 0.2rem 0.8rem;
        background-color: $accent-color;
        text-transform: uppercase;
      }
      .card__miscellaneous {
        align-self: center;
        margin: 1rem 0 1rem 0;
      }
    }
    .card__tagline {
      margin: 0;
      padding-bottom: 0.8rem;
      border-bottom: 1px solid $accent-color;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
