@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: $dark-color;
  &__logo {
    width: 75.2px;
    height: 88.8px;
  }
  &__text {
    color: $light-color;
    &__title {
      font-family: $header-font;
      text-transform: uppercase;
      font-size: 3rem;
      margin: 0;
      font-weight: 500;
    }
    &__subtitle {
      font-size: 1.3rem;
      margin: 0;
      font-family: $body-font;
      text-align: end;
      color: $accent-color;
    }
  }
}
