@use "../../assets/sass/_variables.scss" as *;
@use "../../assets/sass/_typography.scss" as *;

.nav {
  color: $light-color;
  background-color: $dark-color;
  padding: 2rem;
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  &__header {
    margin-top: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid $accent-color;
  }
  &__label {
    display: block;
    margin-bottom: 0.3rem;
    &:last-child {
      display: inline;
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    width: 17%;
  }
}
